.songRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;

  color: white;
}
.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}
.songsRow_info {
  margin-left: 20px;
}

.songsRow_info > h1 {
  font-size: 16px;
  margin-top: 3px;
}

.songsRow_info > p {
  font-size: 16px;
  margin-top: 3px;
  color: grey;
}

.songRow_img {
  height: 30px;
}
